# podemos criar um ficheiro que indique, quais são os ficheiros ou pastas para não serem considerados nos commits!
.gitignore
 
# podemos indicar um dado ficheiro
intro_git.docx

# podemos indicar o tipo de ficheiro que queremos não incluir nos commits
*.docx
*.zip

# podemos indicar a pasta que não queremos incluir
pasta/*